# Manually install sgmock requirements here since it doesn't do so itself.
-e git://github.com/shotgunsoftware/python-api.git@master#egg=shotgun_api3
-e git://github.com/westernx/sgmock.git@master#egg=sgmock
